.shell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;

  &__container {
    display: flex;
    width: 40px;
    height: 70px;
    background: yellow;
    border-radius: 30%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;

    &.disabled {
      background: #ccc;
    }
  }

  &__ball {
    display: flex;
    width: 20px;
    height: 20px;
    padding-top: 15px;
    &--has {
      background: green;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}